h4,h5,h6,
h1,h2,h3{margin-top:0;}
ul,ol{margin:0;}
html, body{
	font-family: 'Roboto' , sans-serif;
	background: #fff;
	width:100%;
	height: 100%;
	 text-align: justify;
}

body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
#main_content{
	background: #cec8cd;
	 font-family: 'Open Sans', sans-serif;
	padding: 0.6em 0;
	line-height:25px;
	 text-align: justify;
}
#footer{
	background: #151515;
	padding: 0.3em 0;
	color:#e1e1e1;
}
#footer p{
	margin-top:6px;
	font-size:0.95em;
	
}

/**/
.nav_manu .dropdown-menu{
	 margin-top: -5px;
  min-width: 120px;
}


/***/

.nav_manu .dropdown-menu {
  background-color: rgba(0,0,0,.85);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.nav_menu .dropdown-menu:before{
  position: absolute;
  top:0;
}
.nav_menu .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
}
.nav_menu .dropdown-menu > li:hover > a,
.nav_menu .dropdown-menu > li:focus > a,
.nav_menu .dropdown-menu > li.active > a {
  background-color: #c52d2f;
  color: #fff;
}
.nav_menu .dropdown-menu > li:last-child > a {
  border-radius: 0 0 0px 0px;
}
.nav_menu .dropdown-menu > li.divider {
  background-color: transparent;
}
.top-menu.dropdown-menu ul li a:hover{
	color:#fff;
	background:#80bb71;
}

/***/

.sitemap{
	float:right;
}

.header-top{
	padding:5px;
	background: #191919;
	border-bottom: 1px solid #222;
	line-height:8px;
}
.header-top p{
	margin-top:6px;
	font-size: 0.9em;
}
.header-top{display:none}
.top_detail{
	color:#fff;
	line-height:5px;
}
.top_detail1{
	color:#fff;
	line-height:5px;
}
.soacial_media{
	float:right;
	line-height:5px;
	color:#fff;
}
.header{
	position:relative;
}
.header-middle{
	background: #151515;
	border-bottom:8px solid #00a79e;
}
.logo{
	position:relative;
	text-align:center;
	right:0;
	top:2px;
	width:30%;
}
.contact{
	position:relative;
	margin-top:8px;
	font-size: 0.9em;
}
.top-menu{
	margin-left:0%;
	float:right;
}
.top-menu ul{
	padding:0;
	margin:0;
	list-style:none;
}
.top-menu ul li{
	display: inline-block;
	float:left;
}
.top-menu ul li a{
	text-decoration:none;
	color:#fff;
	 text-transform: uppercase;
    padding:32px 14px;
    float: left;
    font-size: 0.85em;
    font-weight: 400;
}
.top-menu ul li a.active{
	color: #fff;
    background:#00a79e;
    padding: 32px 20px;
}
.top-menu ul li a:hover{
	color:#fff;
	background:#80bb71;
}
/***/

.social-links a{
float:right;
display: inline-block;}
.fb{height:20px;
	width:20px;
	background-image:url(../img/fb.png);
	background-position:top;
	margin:1px;
	cursor:pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.fb:hover{
	background-position:bottom;
}
.tw{height:20px;
	width:20px;
	background-image:url(../img/tw.png);
	background-position:top;
	margin:1px;
	cursor:pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.tw:hover{
	background-position:bottom;
}

.social-links1 a{
float:left;
display: inline-block;}
.fb{height:20px;
	width:20px;
	background-image:url(../img/fb.png);
	background-position:top;
	margin:1px;
	cursor:pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.fb:hover{
	background-position:bottom;
}
.tw{height:20px;
	width:20px;
	background-image:url(../img/tw.png);
	background-position:top;
	margin:1px;
	cursor:pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.tw:hover{
	background-position:bottom;
}
@media (min-width: 1000px) and (max-width: 1300px) {
	.top-menu ul li a{
	
    padding:32px 10px;

}
}
@media screen and (max-width: 1000px) {
	.header-top{display:block;}
	.contact, .top_detail1, .social-links1 {display:none;}
	
	span.menu{
		width: 32px;
		height: 32px;
		background: url(../images/nav.png)no-repeat 0px;
		display: inline-block;
		float: right;
		cursor: pointer;
		padding: 3em 0;
	}
	.top-menu{
		width:100%;
		display: none;
		text-align:center;
		padding:0;
		margin-top:10px;
	}
	.top-menu ul{
		float:none;
		width:100%;
	}
	.top-menu ul li{
		display:block;
		float: none;
	}
	.top-menu ul li a.active {
		padding: 0.5em 0em;
	}
	.top-menu ul li a{
		color:#fff;
		display: block;
		width: 100%;
		padding: 0.5em 0em;
	}
	}
	.header_right{
		background:none;
	}
}
/***********************
*********Slider*********
***********************/

.slider{
	padding:0px; 
	margin:0px; 
	background:#fff;
	
}
#slider1_container{
	position: relative; 
	margin: 0;
    top: 0px; 
	left: 0px; 
	width: 1300px; 
	height: 350px; 
	overflow: hidden;
	border-bottom:8px solid #00a79e;
}

/***********************
*********booking********
***********************/

.details{
	background: #151515;
	padding: 1.5em;

}
.reservation ul li{
	float: left;
	list-style:none;
}
.reservation ul li.left{
	margin-left: 25px;
}
.reservation ul li.span1_of_1{
	width: 19.33333%;
}
.reservation ul li.span1_of_2{
	width: 11.33333%;
}
.reservation ul li.span1_of_3{
	width: 18.33333%;
	margin-left: 25px;
}
select {
	width: 100%;
	color: #858585;
	font-size: 0.8725em;
	padding: 7px;
	outline: none;
	margin: 5px 0;
	
	background: #ffffff;
	border: 1px solid #DFDFDF;
	box-shadow: inset 0 0 2px rgb(236, 236, 236);
	-webkit-box-shadow: inset 0 0 2px rgb(236, 236, 236);
	-moz-box-shadow: inset 0 0 2px rgb(236, 236, 236);
	-o-box-shadow: inset 0 0 2px rgb(236, 236, 236);
}
select option{
	border: 1px solid #DFDFDF;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.book_date input[type="text"]{
	width: 100%;
	color: #858585;
	font-size: 0.8725em;
	padding: 8px;
	outline: none;
	margin: 5px 0;
	
	border: 1px solid #DFDFDF;
	box-shadow: inset 0 0 2px rgb(236, 236, 236);
	-webkit-box-shadow: inset 0 0 2px rgb(236, 236, 236);
	-moz-box-shadow: inset 0 0 2px rgb(236, 236, 236);
	-o-box-shadow: inset 0 0 2px rgb(236, 236, 236);
	-webkit-appearance: none;
}
.date{
	background:url(../images/cal-icon.png) no-repeat 100% 50% #FFF;
}
.date_btn{
	margin-top: 5px;
}
.date_btn form input[type="submit"] {
	 ext-transform:capitalize;
	width: 100% !important;
	background: #00a79e;
	
	color: #FFF;
	padding: 9px;
	border: none;

	font-size: 1em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	outline: none;
	cursor: pointer;
}
.date_btn form input[type="submit"]:hover{
	background: #80bb71;
}

/***********************
*******properties*******
***********************/



.grid{
	float: left;
	width: 100%;
	box-shadow: 2px 3px 3px #7c7c7c;
	background: #fff;
	border: 1px solid #d5d5d5;
	padding: 19px 18px 25px;
	color: #7e7e7e;
	text-align: center;
	margin-right: 2%;
	margin-bottom: 18px;
	margin-top: 15px;

}
.grid h3{
	text-transform: uppercase;
	padding: 8px 0;
	margin-bottom:0px;
	font-size: 1.6em;
	color: #00a79e;
	font-family: 'PT Sans Narrow', sans-serif;
}
.grid h4{

	padding: 8px 0;
	margin-bottom: 15px;
	font-size: 1.2em;
	color: #80bb71;
	border-bottom: 1px solid #dedede;
	font-family: 'PT Sans Narrow', sans-serif;
}
.grid p{
	font-size: 1em;
	color: rgba(148, 145, 145, 0.84);
	font-family: Arial, Helvetica, sans-serif;
	padding: 0em 1em 1em 1em;
	line-height: 1.6em;
	 text-align: justify;
}
.button{
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	background-color: #00a79e;
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 20px;
	font-size: 0.875em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.button:hover{
	background-color: #80bb71;
	text-decoration:none;
	color: #ffffff;
}
.last-grid{
	margin:0px;
}

/***********************
*******albany***********
***********************/
#albany{
	background: #cec8cd;
	font-family: 'Open Sans', sans-serif;
	line-height:25px;
}
.grid1{
	float: left;
	width: 100%;
	box-shadow: 2px 3px 3px #ccc;
	background: #fff;
	border: 1px solid #d5d5d5;
	padding: 19px 18px 25px;
	color: #7e7e7e;
	text-align: center;
	margin-right: 2%;
	margin-bottom: 18px;
	margin-top: 15px;

}
.grid1 h1{
	text-transform: uppercase;
	padding: 8px 0;
	margin-bottom:0px;
	margin-left:10px;
	font-size: 2.2em;
	color: #00a79e;
	font-family: 'PT Sans Narrow', sans-serif;
}
.grid1 h2{
	
	padding: 8px 0;
	margin-bottom:0px;
	margin-left:10px;
	font-size: 1.8em;
	color: #00a79e;
	font-family: 'PT Sans Narrow', sans-serif;
}
.grid1 h4{

	padding: 8px 0;
	margin-bottom: 5px;
	margin-right:10px;
	margin-left:10px;
	font-size: 1.4em;
	color: #80bb71;
	font-family: 'PT Sans Narrow', sans-serif;
}
.grid1 h6{

	padding: 3px 0;
	margin-bottom: 15px;
	margin-left:10px;
	margin-right:25px;
	font-size: 1.2em;
	color: #80bb71;
	border-bottom: 1px solid #dedede;
	font-family: 'PT Sans Narrow', sans-serif;
}
.grid1 p{
	font-size: 1em;
	color: rgba(148, 145, 145, 0.84);
	font-family: Arial, Helvetica, sans-serif;
	padding: 0em 1em 1em 1em;
	line-height: 1.8em;
}
.button{
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	background-color: #00a79e;
	display: inline-block;
	text-transform: uppercase;
	padding: 10px 20px;
	font-size: 0.875em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.button:hover{
	background-color: #80bb71;
	text-decoration:none;
	color: #ffffff;
}
.last-grid{
	margin:0px;
}

.main-list{
	 padding-top:10px;
	 margin-left:-20px;
}
/***********************
*******contact**********
***********************/

		.contact_us input[type="text"] { width: 95%; height: 34px; }
				.contact_us input[type="email"] { width: 95%; height: 34px; }
				.contact_us textarea { width: 95%; height: 170px; padding-top: 6px; padding-bottom: 6px; float:left;}
				.contact_us label { font-size: 16px; font-weight: 400; }
				.contact_us label .error-label { font-style: italic }
				.contact_us button { margin-top: 5px; margin-bottom: 10px; padding: 0 45px; height: 40px; float:left; background: #00a79e; font-size: 16px; color:#fff;  font-family: futura-pt;}
				.contact_us button :hover{ margin-top: 5px; margin-bottom: 10px; padding: 0 45px; height: 40px; float:left; background: #80bb71; font-size: 16px; color:#fff;  font-family: futura-pt;}
				.contact_us.form_button{
				width:100%;
				top:100px;
				
				}
				.brea_heading{
					color:#00a79e;
					
					margin-left:0px;
				}
				.brea_heading2{
					color:#00a79e;
					bottom:20px;
				}
				#map-container2 { 
				height: 280px ;	
				}
				#main_content{
	background: #cec8cd;
	 font-family: 'Open Sans', sans-serif;
	padding: 2em 0;
	line-height:25px;
}

/***** Media Quries *****/
@media only screen and (max-width: 1366px) {
	.span_of_2 {
		padding: 3% 0;
		margin: 4% 0;
	}
}
@media only screen and (max-width: 1024px) {
	.reservation ul li.span1_of_1 {
		width: 100%;
	}
	.book_date input[type="text"] {
		width: 100% !important;
	}
	.reservation ul li.left {
		margin-left: 0px;
	}
	.reservation ul li.span1_of_2 {
		width: 49.33333%;
	}
	.reservation ul li.span1_of_3 {
		width: 47.33333%;
		margin-left: 10px;
	}
	.reservation ul li.span1_of_2 {
		width: 50%;
	}
	.res_btn form input[type="submit"] {
		width: 50% !important;
		padding: 10px;
	}
}

@media only screen and (max-width: 768px) {
	
	.reservation ul li.span1_of_1 {
		width: 100%;
	}
	.book_date input[type="text"] {
		width: 100% !important;
	}
	.reservation ul li.left {
		margin-left: 0px;
	}
	.reservation ul li.span1_of_2 {
		width: 49.33333%;
	}
	.reservation ul li.span1_of_3 {
		width: 47.33333%;
		margin-left: 10px;
	}
	.reservation ul li.span1_of_2 {
		width: 50%;
	}
	.res_btn form input[type="submit"] {
		width: 50% !important;
		padding: 10px;
	}
		.main-list {
		padding-top: 10px;
		margin-left: 0px;
	}
}

@media only screen and (max-width: 640px){
	.reservation ul li.span1_of_1 {
		width: 100%;
	}
	.book_date input[type="text"] {
		width: 100% !important;
	}
	.reservation ul li.left {
		margin-left: 0px;
	}
	.reservation ul li.span1_of_2 {
		width: 49.33333%;
	}
	.reservation ul li.span1_of_3 {
		width: 47.33333%;
		margin-left: 10px;
	}
	.reservation ul li.span1_of_2 {
		width: 48.33333%;
	}
	.res_btn form input[type="submit"] {
		width: 50% !important;
		padding: 10px;
	}
	.main-list {
		padding-top: 10px;
		margin-left: 0px;
	}
}

@media only screen (min-width: 480) and (max-width: 540) {
		.reservation ul li.span1_of_1 {
		width: 100%;
	}
	.book_date input[type="text"] {
		width: 100% !important;
	}
	.reservation ul li.left {
		margin-left: 0px;
	}
	.reservation ul li.span1_of_2 {
		width: 49.33333%;
	}
	.reservation ul li.span1_of_3 {
		width: 47.33333%;
		margin-left: 10px;
	}
	.reservation ul li.span1_of_2 {
		width: 48.33333%;
	}
	.res_btn form input[type="submit"] {
		width: 50% !important;
		padding: 0px;
	}
	.main-list {
		padding-top: 0px;
		margin-left: 0px;
	}
}

@media only screen and (max-width: 420px) {
		.reservation ul li.span1_of_2 {
		width: 100%;
	}
	.reservation ul li.span1_of_3 {
		width: 100%;
		margin-left: 0px;
	}
	.book_date input[type="text"] {
		width: 100% !important;
	}
	.span2_of_1 {
		float: left;
		width: 100%;
		margin-left: 0%;
	}
		.main-list {
		padding-top: 10px;
		margin-left: 0px;
	}
}


@media only screen and (max-width: 320px) {
	.reservation ul li.span1_of_2 {
		width: 100%;
	}
	.reservation ul li.span1_of_3 {
		width: 100%;
		margin-left: 0px;
	}
	.book_date input[type="text"] {
		width: 100% !important;
	}
	.span2_of_1 {
		float: left;
		width: 100%;
		margin-left: 0%;
	}
		.main-list {
		padding-top: 10px;
		margin-left: 0px;
	}
}

@media (min-width: 1200px) {
 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }
  }
  

@media (min-width: 992px) and (max-width: 1199px) {
  
 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }
  }
  
  
/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }
  }
  
/* sm */
@media (max-width: 768px) {
  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInDown 400ms;
      animation: fadeInDown 400ms;
  }
  .nav_menu .dropdown-menu:before{
  position: relative;
}
  }